.mud-main-content {
  min-height: calc(100vh - var(--mud-appbar-height));
}

.layout-main-content {
  padding-bottom: calc(env(safe-area-inset-bottom, 0px) + 16px);
}

.top-app-bar {
  padding-top: calc(env(safe-area-inset-top, 0px) + 20px);
}

.top-app-bar-flat {
  border-bottom: 1px solid var(--mud-palette-lines-default);
}

.app-drawer-flat {
  border-right: 1px solid var(--mud-palette-lines-default);
}
